*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: arial;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: lightslategray;
}
.pagination{
    display: flex;
    justify-content: end;
}